/* ZERO STYLES */
/* Specify box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove internal indents */
ul,
ol {
  padding: 0;
}

/* Remove the outer margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set the basic default settings for the body */
body {
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-image: url("../images/site-bg.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Remove the default styling for all ul and il that have the class attribute */
ul,
ol {
  list-style: none;
}

/* Elements a, which do not have a class, are reset to default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Simplify work with images */
img {
  max-width: 100%;
  display: block;
}

/* Specify an understandable periodicity in the data flow of the article */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*Styles*/
/*Global*/
.main-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.main-title {
  font-size: 35px;
  color: #214a2b;
  text-transform: uppercase;
}

.divider__img {
  width: 50px;
  height: 50px;
}

.divider__line {
  display: block;
  width: 100px;
  height: 1px;
  background-color: #214a2b;
}

/*Contacts modal*/
.contacts-modal-btn {
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#contactsModal .modal-dialog {
  max-width: 50%;
}

#contactsModal .modal-content {
  border: none;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

#contactsModal .modal-header {
  background-color: #214a2b;
}

#contactsModal .modal-logo {
  width: 150px;
}

#contactsModal .main-title {
  font-size: 20px;
}

/*Header*/
.header {
  height: 58px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.navbar-brand,
.navbar-brand img,
.footer__logo {
  width: 150px;
  height: 50px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler img {
  width: 50px;
}

.header .navbar-nav .nav-link {
  color: #ffffff !important;
  border-bottom: 2px solid transparent;
  padding: 2px 0;
  margin: 0 10px;
  transition: all 0.3s;
  outline: none;
}

.header .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  border-bottom: 2px solid #ffffff;
  transition: all 0.3s;
}

.header__navbar {
  background-color: #214a2b !important;
  max-height: 58px !important;
}

.header__navbar .navbar-collapse {
  background-color: #214a2b;
  z-index: 10;
}

.header__navbar .navbar-collapse .navbar-nav {
  padding: 10px 5px;
}

.header__navbar .navbar-collapse .navbar-nav .dropdown-item {
  white-space: normal;
}

.header .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #214a2b;
  color: #ffffff;
}

.header__navbar.fixed-top {
  background-color: #214a2b !important;
}

.header__navbar .dropdown-menu a {
  text-wrap: nowrap !important;
}

/*Section hero*/
.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner__info {
  position: absolute;
  top: 20px;
  left: 10px;
  display: inline-block;
  width: 100%;
}

.white-bg {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 8px;
  margin-left: 10px;
  max-width: fit-content;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.hero__title,
.hero__text {
  color: #214a2b;
}

.hero__title {
  font-size: 35px;
}

.hero__text {
  font-size: 18px;
}

/*Section services*/
.services__slider .card img {
  height: 200px;
}

.services__slider .slick-prev,
.services__slider .slick-next,
.our-works__slider .slick-prev,
.our-works__slider .slick-next,
.employees__block .slick-prev,
.employees__block .slick-next {
  width: 35px;
  height: 50px;
  position: absolute;
  border: none;
  z-index: 10;
  background-color: transparent;
}

.services__slider .slick-prev,
.our-works__slider .slick-prev,
.employees__block .slick-prev {
  transform: rotate(180deg) translateY(50%);
  left: -25px;
  top: 50%;
}

.employees__block .slick-prev {
  left: -15px;
}

.services__slider .slick-next,
.our-works__slider .slick-next,
.employees__block .slick-next {
  transform: translateY(-50%);
  right: -25px;
  top: 50%;
}

.employees__block .slick-next {
  right: -15px;
}

.services__slider .slick-prev img,
.services__slider .slick-next img,
.employees__block .slick-prev img,
.employees__block .slick-next img,
.our-works__slider .slick-prev img,
.our-works__slider .slick-next img {
  transition: all 0.2s;
}

.services__slider .slick-prev:hover img,
.services__slider .slick-next:hover img,
.employees__block .slick-prev:hover img,
.employees__block .slick-next:hover img,
.our-works__slider .slick-prev:hover img,
.our-works__slider .slick-next:hover img {
  transform: scale(1.2);
  transition: all 0.2s;
}

.services__slide .card {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border: 0;
}

.services__item:first-child {
  margin-top: 25px;
}

.services__item + .services__item {
  margin-top: 25px;
  opacity: 0;
}

.services__item.active {
  opacity: 1;
}

.services__item .services__picture {
  max-height: 300px;
  min-height: 300px;
  width: 100%;
}

.services__wrapper {
  position: relative;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

.services__wrapper:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.services__info {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.services__info:hover {
  padding: 20px 0;
  transition: all 0.3s;
}

.services__title,
.services__price {
  color: #214a2b;
  font-size: 20px;
}

/*Section employees*/
.employees__block img {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.employees__block img.employee__sliderarrow {
  box-shadow: none;
}

.blured {
  filter: blur(4px);
}

.employee__info-icon-block img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border: 1px solid #214a2b;
  z-index: 5;
  cursor: pointer;
}

.employee__info {
  position: absolute;
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: #214a2b;
  border-radius: 8px;
  top: 20%;
  left: 10px;
  right: 10px;
  padding: 20px 10px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
}

.employee__info.active {
  display: block;
}

/*Section counter*/
.counter__block {
  position: relative;
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.counter__title {
  position: absolute;
  display: block;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  top: 10px;
  left: 15px;
  color: #f2a93b;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.counter-number {
  color: #214a2b;
  font-size: 250px;
  font-weight: 100;
  width: 50%;
}

/*Swiper slider in counter*/
.swiper-body {
  position: relative;
  height: 100%;
  margin-left: 30%;
}

.client-block {
  position: relative;
  overflow: hidden;
}

.client-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: orange;
  z-index: 1;
  top: -68%;
}

.grey-bg {
  background-color: grey;
  height: 100%;
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-color: #ffffff;
}

.client-photo {
  z-index: 2;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.client-name {
  color: #ffffff;
}

.client-text {
  font-size: 14px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.client-stars img {
  width: 30px;
  height: 30px;
}

.client-quote-img {
  width: 20px;
  height: 20px;
}

.client-quote-img.client-quote-img-rotate {
  transform: rotate(180deg);
}

/*Section our works*/
.our-works__text {
  color: #214a2b;
  font-weight: 600;
  font-size: 20px;
}

.our-works__before-after-block img {
  max-width: 300px;
  max-height: 400px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

/*Section feedback*/
.feedback__block {
  padding: 10px;
  background-color: lightgray;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.feedback__simbol {
  width: 35px;
  height: 35px;
  border: 1px solid #214a2b;
  border-radius: 50%;
  padding: 5px;
}

.feedback__simbol img {
  transform: rotate(180deg);
}

.feedback__client {
  padding-top: 5px;
  border-top: 1px solid grey;
}

.feedback__photo img {
  width: 60px;
  height: 60px;
  border: 3px solid lightblue;
  border-radius: 50%;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.feedback__name {
  font-size: 20px;
  font-weight: 600;
}

/*Section contact us*/
.contact-us__contacts {
  background-color: lightgrey;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.contact-us__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-us__contacts img {
  width: 100px;
  height: 100px;
}

.contact-us__contacts a {
  font-size: 18px;
}

#contactsModal img.contact-us__socialimg,
.contact-us img.contact-us__socialimg,
.footer img.contact-us__socialimg {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.footer img.contact-us__socialimg {
  width: 50px;
  height: 50px;
}

#contactsModal img.contact-us__socialimg:hover,
.contact-us img.contact-us__socialimg:hover,
.footer img.contact-us__socialimg:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.contact-us__map iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.contacts-page .contact-us__map iframe {
  height: 450px;
}

/*About us*/
.about-us-page .about-us__img {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  height: 100%;
}

.about-us-page .about-us__info p {
  font-size: 17px;
  color: #626566;
}

.about-us-page .about-us__info .logo-title {
  border-radius: 8px;
  background-color: #214a2b;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.about-us-page .about-us__text {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  height: 100%;
}

/*Section about page*/
.about-page__wrapper {
  padding: 5px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  font-size: 17px;
  color: #626566;
}

/*Section video*/
.video-content {
  max-width: 560px;
  height: 315px;
  width: 100%;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

/*Footer*/
.footer {
  height: 150px;
  background-color: #214a2b;
}

.footer__phone,
.footer__email {
  font-size: 20px;
  color: #ffffff;
}

.footer__phone:hover,
.footer__email:hover {
  color: yellow;
}

.developer-sign a {
  font-size: 14px;
  color: #ffffff;
}

.developer-sign a:hover {
  color: yellow;
}

.preloader {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background-color: #214a2b;
}

.preloader.loaded {
  display: none;
}

.spinner{
    width: 150px;
    height: 150px;

    border: 2px solid gray;
    border-top:3px solid #ffffff;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 1000;
    margin: auto;

    animation: spin 3s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

/* Call us btn */
.email-bt {
  background: #214a2b;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3);
  cursor: pointer;
  height: 68px;
  text-align: center;
  width: 68px;
  position: fixed;
  left: 8%;
  bottom: 13%;
  z-index: 999;
  transition: .3s;
  -webkit-animation: email-an linear 1s infinite;
  animation: email-an linear 1s infinite;
}

.email-bt:hover {
  border: 2px solid #214a2b;
}

.call-us-img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 38px;
}

.email-bt .text-call {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.email-bt .text-call span {
  text-align: center;
  color: #214a2b;
  opacity: 0;
  font-size: 20px !important;
  position: absolute;
  left: 13px;
  top: 16px;
  line-height: 19px;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity .3s linear;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.email-bt .text-call:hover span {
  opacity: 1;
  font-size: 11px;
}

.email-bt:hover i {
  display: none;
}

.email-bt:hover {
  z-index: 1;
  background: #fff;
  transition: .3s;
}

.email-bt:hover i {
  color: #38a3fd;
  font-size: 40px;
  transition: .3s;
}

.email-bt i {
  color: #fff;
  font-size: 29px;
  transition: .3s;
  line-height: 66px;
}

.email-bt i {
  -webkit-animation: opsimple 3s infinite;
  animation: opsimple 3s infinite;
}

@-webkit-keyframes email-an {
  0% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 0 rgba(33, 74, 43, 0.2), 0 0 0 0 rgba(33, 74, 43, 0.2)
  }
  40% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 15px rgba(33, 74, 43, 0.2), 0 0 0 0 rgba(33, 74, 43, 0.2)
  }
  80% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 30px rgba(33, 74, 43, 0), 0 0 0 26.7px rgba(33, 74, 43, 0.067)
  }
  100% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 30px rgba(33, 74, 43, 0), 0 0 0 40px rgba(33, 74, 43, 0.0)
  }
}

@keyframes email-an {
  0% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 0 rgba(33, 74, 43, 0.2), 0 0 0 0 rgba(33, 74, 43, 0.2)
  }
  40% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 15px rgba(33, 74, 43, 0.2), 0 0 0 0 rgba(33, 74, 43, 0.2)
  }
  80% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 30px rgba(33, 74, 43, 0), 0 0 0 26.7px rgba(33, 74, 43, 0.067)
  }
  100% {
    box-shadow: 0 8px 10px rgba(33, 74, 43, 0.3), 0 0 0 30px rgba(33, 74, 43, 0), 0 0 0 40px rgba(33, 74, 43, 0.0)
  }
}

@keyframes opsimple {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes opsimple {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Media*/
@media (max-width: 1200px) {
  .counter__block {
    height: 400px;
  }

  .counter-number {
    width: 50%;
    font-size: 200px;
  }

  .contact-us__map {
    padding: 0;
  }

  .contact-us__map iframe {
    height: 350px;
  }

  .services__item .services__picture {
    max-height: 250px;
    min-height: 250px;
    width: 100%;
  }

  #contactsModal .modal-dialog {
    max-width: 60%;
  }
}

@media (max-width: 992px) {
  .header .navbar-nav .nav-link,
  .header .navbar-nav .dropdown-item {
    font-size: 20px;
  }

  .header .navbar-nav .nav-link:hover {
    border-bottom: 2px solid transparent;
  }

  .counter__block {
    height: 600px;
  }

  .counter-number {
    width: 100%;
    font-size: 200px;
  }

  .swiper-body {
    margin-left: 0;
  }

  .counter__block .swiper {
    margin-top: -190px;
  }

  .footer {
    height: auto;
  }

  .services__item .services__picture {
    max-height: 170px;
    min-height: 170px;
  }

  #contactsModal .modal-dialog {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 20px;
  }

  .counter__block {
    height: 650px;
  }

  .counter__title {
    margin-right: 15px;
  }

  .counter-number {
    font-size: 190px;
  }

  .our-works__before-after-block img {
    max-width: 250px;
    max-height: 250px;
    box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  }

  .services__item .services__picture {
    max-height: 140px;
    min-height: 140px;
  }

  .services__title, .services__price {
    font-size: 16px;
  }

  #contactsModal .modal-dialog {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .hero__title {
    font-size: 18px;
  }

  .container-mob {
    padding-left: 0;
    padding-right: 0;
  }

  .employees__block .slick-prev {
    left: 0px;
  }

  .employees__block .slick-next {
    right: 0px;
  }

  .services__item .services__picture {
    max-height: 250px;
    min-height: 250px;
  }

  .services__title, .services__price {
    font-size: 20px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 15px !important;
    margin-top: 15px !important;
  }

  .slick-dots li {
    margin: 2px 5px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    width: 15px;
    height: 15px;
  }

  .slick-dots li button {
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all .3s;
  }

  .slick-dots li.slick-active {
    transition: all .3s;
  }

  .slick-dots li.slick-active button {
    background-color: #214a2b;
    width: 15px;
    height: 15px;
    transition: all .3s;
  }

  .divider__img {
    width: 30px;
    height: 30px;
  }

  #contactsModal .modal-dialog {
    max-width: 98%;
  }

  .contact-us__contacts img {
    width: 60px;
    height: 60px;
  }

  .services__item:first-child {
    margin-top: 0;
  }
}

@media (max-width: 520px) {
  .counter-number {
    font-size: 130px;
    padding-top: 25px;
  }

  .counter__block {
    height: 550px;
  }

  .counter__block .swiper {
    margin-top: -180px;
  }

  .our-works__before-after-block img {
    max-width: 215px;
    max-height: 215px;
  }
}

@media (max-width: 420px) {
  .counter__block .swiper {
    width: 270px;
  }

  .counter-number {
    font-size: 110px;
    padding-top: 45px;
  }

  .counter__title {
    font-size: 16px;
  }

  .counter__block .swiper {
    margin-left: -135px;
    margin-top: -170px;
  }

  .services__item .services__picture {
    max-height: 225px;
    min-height: 225px;
  }

  .main-title {
    font-size: 20px;
  }

  .our-works__text {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .navbar-brand,
  .navbar-brand img,
  .footer__logo {
    width: 150px;
  }

  .employee__info {
    font-size: 12px;
  }

  .services__item .services__picture {
    max-height: 180px;
    min-height: 180px;
  }
}

@media (max-width: 350px) {
  .our-works__before-after-block img {
    max-width: 190px;
    max-height: 190px;
  }
}

@media (max-width: 335px) {
  .our-works__before-after-block img {
    max-width: 180px;
    max-height: 180px;
  }
}

