/* ZERO STYLES */
/* Specify box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove internal indents */
ul,
ol {
  padding: 0;
}

/* Remove the outer margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set the basic default settings for the body */
body {
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-image: url('../images/site-bg.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Remove the default styling for all ul and il that have the class attribute */
ul,
ol {
  list-style: none;
}

/* Elements a, which do not have a class, are reset to default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Simplify work with images */
img {
  max-width: 100%;
  display: block;
}

/* Specify an understandable periodicity in the data flow of the article */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*Styles*/
/*Global*/
.main-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.main-title {
  font-size: 35px;
  color: #214A2B;
  text-transform: uppercase;
}

.divider__img {
  width: 50px;
  height: 50px;
}

.divider__line {
  display: block;
  width: 100px;
  height: 1px;
  background-color: #214A2B;
}

/*Contacts modal*/
.contacts-modal-btn {
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#contactsModal .modal-dialog {
  max-width: 40%;
}

#contactsModal .modal-content {
  border: none;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

#contactsModal .modal-header {
  background-color:#214A2B;
}

#contactsModal .modal-logo {
  width: 150px;
}

#contactsModal .main-title {
  font-size: 20px;
}

/*Header*/
.header {
  height: 58px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.navbar-brand,
.navbar-brand img,
.footer__logo {
  width: 150px;
  height: 50px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler img {
  width: 50px;
}

.header .navbar-nav .nav-link {
  color: #ffffff !important;
  border-bottom: 2px solid transparent;
  padding: 2px 0;
  margin: 0 10px;
  transition: all .3s;
}

.header .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  border-bottom: 2px solid #ffffff;
  transition: all .3s;
}

.header__navbar {
  background-color: #214A2B !important;
  max-height: 58px !important;
}

.header__navbar .navbar-collapse {
  background-color: #214A2B;
  z-index: 10;
}

.header__navbar .navbar-collapse .navbar-nav {
  padding: 10px 5px;
}

.header__navbar .navbar-collapse .navbar-nav .dropdown-item {
  white-space: normal;
}

.header .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #214A2B;
  color: #ffffff;
}

.header__navbar.fixed-top {
  background-color: #214A2B !important;
}

.header__navbar .dropdown-menu a {
  text-wrap: nowrap !important;
}

/*Section hero*/
.banner {
  position: relative;
  /*max-height: 700px;*/
}

.banner img {
  width: 100%;
}

/*#chystka-mebliv-page .banner {*/
/*  max-height: 900px;*/
/*}*/

.banner__info {
  position: absolute;
  top: 20px;
  left: 10px;
  display: inline-block;
  width: 100%;
}

.white-bg {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 8px;
  margin-left: 10px;
  max-width: fit-content;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.hero__title,
.hero__text {
  color: #214A2B;
}

.hero__title {
  font-size: 35px;
}

.hero__text {
  font-size: 18px;
}

/*Section services*/
.services__slider .card img {
  height: 200px;
}

.services__slider .slick-prev,
.services__slider .slick-next,
.our-works__slider .slick-prev,
.our-works__slider .slick-next,
.employees__block .slick-prev,
.employees__block .slick-next {
  width: 35px;
  height: 50px;
  position: absolute;
  border: none;
  z-index: 10;
  background-color: transparent;
}

.services__slider .slick-prev,
.our-works__slider .slick-prev,
.employees__block .slick-prev {
  transform: rotate(180deg) translateY(50%);
  left: -10px;
  top: 50%;
}

.employees__block .slick-prev {
  left: -15px;
}

.services__slider .slick-next,
.our-works__slider .slick-next,
.employees__block .slick-next {
  transform: translateY(-50%);
  right: -10px;
  top: 50%;
}

.employees__block .slick-next {
  right: -15px;
}

.services__slider .slick-prev img,
.services__slider .slick-next img,
.employees__block .slick-prev img,
.employees__block .slick-next img,
.our-works__slider .slick-prev img,
.our-works__slider .slick-next img {
  transition: all .2s;
}

.services__slider .slick-prev:hover img,
.services__slider .slick-next:hover img,
.employees__block .slick-prev:hover img,
.employees__block .slick-next:hover img,
.our-works__slider .slick-prev:hover img,
.our-works__slider .slick-next:hover img {
  transform: scale(1.2);
  transition: all .2s;
}

.services__slide .card {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border: 0;
}

.services__item {
  margin-top: 25px;
  opacity: 0;
}

.services__item.active {
  opacity: 1;
}

.services__item .services__picture {
  max-height: 250px;
  width: 100%;
}

.services__wrapper {
  position: relative;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  transition: all .3s;
  cursor: pointer;
}

.services__wrapper:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.services__info {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  transition: all .3s;
  cursor: pointer;
  z-index: 1;
}

.services__info:hover {
  padding: 20px 0;
  transition: all .3s;
}

.services__title,
.services__price {
  color: #214A2B;
  font-size: 20px;
}

/*Section employees*/
.employees__block img {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.employees__block img.employee__sliderarrow {
  box-shadow: none;
}

.blured {
  filter: blur(4px);
}

/*.employee__info-icon-block {*/
/*  border: 1px solid #214A2B;*/
/*}*/

.employee__info-icon-block img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border: 1px solid #214A2B;
  z-index: 5;
  cursor: pointer;
}

.employee__info {
  position: absolute;
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: #214A2B;
  border-radius: 8px;
  top: 20%;
  left: 10px;
  right: 10px;
  padding: 20px 10px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);*/
}

.employee__info.active {
  display: block;
}

/*Section counter*/
.counter__block {
  position: relative;
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.counter__title {
  position: absolute;
  display: block;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  top: 10px;
  left: 15px;
  color: #F2A93B;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.counter-number {
  color: #214A2B;
  font-size: 250px;
  font-weight: 100;
  width: 50%;
}

/*Swiper slider in counter*/
.swiper-body {
  position: relative;
  height: 100%;
  margin-left: 30%;
}

.client-block {
  position: relative;
  overflow: hidden;
}

.client-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: orange;
  z-index: 1;
  top: -68%;
}

.grey-bg {
  background-color: grey;
  height: 100%;
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-color: #ffffff;
}

.client-photo {
  z-index: 2;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.client-name {
  color: #ffffff;
}

.client-text {
  font-size: 14px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.client-stars img {
  width: 30px;
  height: 30px;
}

.client-quote-img {
  width: 20px;
  height: 20px;
}

.client-quote-img.client-quote-img-rotate {
  transform: rotate(180deg);
}

/*Section our works*/
.our-works__text {
  color: #214A2B;
  font-weight: 600;
  font-size: 20px;
}

.our-works__before-after-block img {
  width: 300px;
  max-height: 400px;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

/*Section feedback*/
.feedback__block {
  padding: 10px;
  background-color: lightgray;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.feedback__simbol {
  width: 35px;
  height: 35px;
  border: 1px solid #214A2B;
  border-radius: 50%;
  padding: 5px;
}

.feedback__simbol img {
  transform: rotate(180deg);
}

.feedback__client {
  padding-top: 5px;
  border-top: 1px solid grey;
}

.feedback__photo img {
  width: 60px;
  height: 60px;
  border: 3px solid lightblue;
  border-radius: 50%;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.feedback__name {
  font-size: 20px;
  font-weight: 600;
}

/*Section contact us*/
.contact-us__contacts {
  background-color: lightgrey;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.contact-us__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-us__contacts img {
  width: 100px;
  height: 100px;
}

.contact-us__contacts a {
  font-size: 18px;
}

#contactsModal img.contact-us__socialimg,
.contact-us img.contact-us__socialimg,
.footer img.contact-us__socialimg {
  width: 30px;
  height: 30px;
  transition: all .3s;
}

.footer img.contact-us__socialimg {
  width: 50px;
  height: 50px;
}

#contactsModal img.contact-us__socialimg:hover,
.contact-us img.contact-us__socialimg:hover,
.footer img.contact-us__socialimg:hover {
  transform: scale(1.2);
  transition: all .3s;
}

.contact-us__map iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.contacts-page .contact-us__map iframe {
  height: 450px;
}

/*About us*/
.about-us-page .about-us__img {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  height: 100%;
}

.about-us-page .about-us__info p {
  font-size: 17px;
  color: #626566;
}

.about-us-page .about-us__info .logo-title {
  border-radius: 8px;
  background-color: #214A2B;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

.about-us-page .about-us__text {
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
  height: 100%;
}

/*Section video*/
.video-content {
  max-width: 560px;
  height: 315px;
  width: 100%;
  box-shadow: 0px 2px 4.95px 0.05px rgba(0, 0, 0, 0.3);
}

/*Footer*/
.footer {
  height: 150px;
  background-color: #214A2B;
}

.footer__phone,
.footer__email {
  font-size: 20px;
  color: #ffffff;
}

.footer__phone:hover,
.footer__email:hover {
  color: yellow;
}

.developer-sign a {
  font-size: 14px;
  color: #ffffff;
}

.developer-sign a:hover {
  color: yellow;
}

/*Media*/
@media (max-width: 992px) {
  .header .navbar-nav .nav-link,
  .header .navbar-nav .dropdown-item {
    font-size: 20px;
  }

  .header .navbar-nav .nav-link:hover {
    border-bottom: 2px solid transparent;
  }
}

@media (max-width: 375px) {
  .navbar-brand,
  .navbar-brand img,
  .footer__logo {
    width: 150px;
  }
}